* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  z-index: 12;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #092055bd;
}
.logotext{
  color: #ffffff;
  font-family: acier-bat-noir, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin-left: 31px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 35px;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;

}

.linklogo{
  text-decoration: none;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

a:hover{
 color: #000000;
 
}

#active1{
  text-shadow: 0 0 10px #ff00d4, 0 0 40px #ff00d4, 0 0 80px #ff00d4;
} 

@media screen and (max-width: 1000px) {
  .nav-links {
      width: 45%;  
  }
  .nav-links a {
    font-size: 30px;
  }
  .logotext{
    font-size: 35px;
  }
}

@media screen and (max-width: 770px) {
  body {
      overflow-x: hidden;
  }
  
  .nav-links {
    z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      height: 100%;
      top: 0;
      background-color: rgba(0,0,0, 0.9);
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in; 
  }
  
  .nav-links li {
      opacity: 0;
      margin-top: 30px;
      margin-bottom: 30;
  }
  
  .nav-links a {
    text-decoration: none;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
  }
  .burger {
      display: block;
      cursor: pointer;
  }
}
.nav-active {
      transform: translateX(0%);
}

@media screen and (max-width: 768px) {
  .logotext{
    font-size: 30px;
  }
}


@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


@media (prefers-color-scheme: dark) {
  nav{
    background-color: #1f1f1fbd;
  }

}







